@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --mainGray:#979797;
  --mainPurple:#B95AFF;
}



body {
  background: var(--background);
  color: white;
}

.input-outline{
  background-color: transparent;
  border: 1px solid var(--mainGray);
  border-radius: 5px;
  padding: .1rem .5rem;
  transition: .3s ease-in-out;
}
.input-outline:focus,.input-outline:hover{
  border: 1px solid var(--mainPurple);
}