/* carousel */
.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

.swiper {
    padding: 32px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background-color: white;
}